autostart
dconf
evolution
falkon
gnome-layout-switcher.conf
gnome-session
GNOME*
goa*
gs*
gtk*
ibus
manjaro*
mime*
nautilus*
nvim.bak
pulse
.gsd*
qt*
touch*
user*
xdg*
monitors.xml
gnome-control-center
